body {
	background-color: #444444;
	color: #FFFFFF;
	font: arial;
}

h1 {
	text-align:center;
	font-style: italic;
	font-size: 48px;
	font-weight: lighter;
}

a {
	font-weight: bold;
	color: #00CD98;
}

#currentpage {
	color: #FFFFFF;
	text-decoration: none;
}

#listone {
	list-style:none;
	text-align:center;
}

#listone li {
	display:inline-block;
}

h3 {
	color:#BBBBBB;
	font-weight:bold;
}

article {
	display:inline-block;
}

li p {
	color:#BBBBBB;
}

.aone {
	font-weight:bold;
}

.athree {
	font-size:14px;
	color:#BBBBBB;
}

#grayverbar {
	color: #999993;
}

nav {
	text-align:center;
}
